.post-date {
    margin-top: 2em;
    font-size: 1.2em;
}

.post-title {
    margin-top: 1em;
}

.post-text {
    margin-top: 1em;
}

div.comments {
  margin-bottom: 2em;
}

span#post-update {
  font-size: 0.5em;
}
