{% extends "blog/base.html" %}

{% load bootstrap3 %}

{% block title %}PotBlog - {{ post.title }}{% endblock title %}

{% block heading %}
    <a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a>
    {% if user.is_authenticated %}
        <small>(<a href="{% url 'blog:update_post' post.pk %}">Update</a>)</small>
    {% endif %}
{% endblock %}

{% block content %}
    <div>
        <p>{{ post.text }}</p>
        <p><span class="glyphicon glyphicon-time"></span> {{ post.date_published }}</p>
    </div>

    <hr>

    <div>
        <h3><span class="glyphicon glyphicon-comment"></span> {{ post.num_comments }} Comment{{ post.num_comments|pluralize }}</h3>

        {% if comments %}
            {% for comment in comments %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{{ comment.author }}</strong> <span class="text-muted">{{ comment.time_published }}</span>
                    </div>
                    <div class="panel-body">
                        {% if comment.is_hidden %}
                            <p class="text-muted">[ Hidden ]</p>
                        {% else %}
                            <p>{{ comment.text }}</p>
                        {% endif %}
                    </div>
                    {% if user.is_authenticated %}
                        <div class="panel-footer">
                            <form action="{% url 'blog:hide_comment' comment.pk %}" method="post" class="form">
                                {% csrf_token %}
                                {% if comment.is_hidden %}
                                    <input type="submit" value="Unhide" class="btn btn-default"/>
                                {% else %}
                                    <input type="submit" value="Hide" class="btn btn-default"/>
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div>
        <form action="{% url 'blog:post_detail' post.pk %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" value="Comment" class="btn btn-default"/>
        </form>
    </div>

{% endblock content %}
