{% extends "blog/base.html" %}

{% load bootstrap3 %}

{% block title %}PotBlog - Update post{% endblock title %}

{% block heading %}Update post{% endblock %}

{% block content %}
    <form action="{{ request.path }}" method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Update" class="btn btn-default"/>
    </form>

    <hr>

    <form action="{% url 'blog:delete_post' post.id %}" method="post" class="form">
        {% csrf_token %}
        <input type="submit" value="Delete" class="btn btn-default"/>
    </form>
{% endblock content %}
